<!DOCTYPE html>

<html>
<title>
    Acerca de..
</title>
    <head >
        <link rel="stylesheet" href="/css/style.css" >
        <link rel="icon" href="/img/weather.png" >

    </head>

        <body>
            <div class="main_contenido">
                {{>header}}
                <img class='retrato' src="/img/imagen01.jpeg">
            </div>
        {{>footer}}
        </body>

</html>