<!DOCTYPE html>

<html>
<title>
    Ayuda del programa
</title>
    <head >
        <link rel="stylesheet" href="/css/style.css" >
        <link rel="icon" href="/img/weather.png" >
    </head>

        <body>
            <div class="main_contenido">
                {{>header}}

                <p>Aqui puedes consultar el estado del tiempo de una ciudad..</p>

                <form>
                    <input placeholder="Ciudad...">
                    <button>Buscar</button>
                </form>
                <p id="pargraf-01"></p>
                <p id="pargraf-02"></p>


            </div>  

                {{>footer}}
        <script src='/js/app.js'></script>

        </body>


</html>